.topnav {
    position:fixed;
    width:100%;
    height:auto;
    top:0;
    background-color: black;
}

.topnav a{
    float:left;
    display:block;
    text-align:center;
    padding:20px;
    text-decoration: none;
}

.topnav a:hover{
    background-color: rgb(#9FDBFF);
}

.logo {
    float: left;

}