/*Its too much space between logo and Home button!*/



body{
    /*background-image: linear-gradient( #002fa7, black);*/
    background-color: white;
    padding: 0;
    margin: 0;
    font-family: 

}

/*Should the text cover the whole page?
Maybe a sidebar (it will fuck things up)
in there there can be the three links from the page.
Not deleting the links from the paragrapgh,
but ther ecould ba a sidebar to make it superclear and
easier to navigate

It definatly needs some padding or and margin
*/



h1, h2, h3{
    background-color: grey;
 /*bold, but no other decoration*/
}

h4{
    background-color: greenyellow;
    text-decoration: underline;
    font-style: italic;
    font-size: 18px;
    /*font size same as h3 default size*/

}

/*I think the p tag could be styled with bigger font-size,
and the headers probably needs to be adjusted then too
Or i need to make a phone call to a optician*/
p{
    
    background-color: pink;
    
}

#header{
      background-color: #002fa7;
      width: 100vw;
      /*its a line between menu and top pic...
       dunno... I just colored it same color as navigation*/
       
    
}

#header img{
    width: 100vw;
    height: 40vw;
    /*Is it called licence free? :) */
    /*Licence free image from Pixabay, credit user_id:4701261.
    https://pixabay.com/no/illustrations/nordstjernen-stjerner-natt-2869817/ */
    background-image: url("Images/north-star-2869817_1280.jpg");
    background-repeat: no-repeat;
    background-size: 100vw;
    
}


#navigation {
    position: sticky;
    display: flex;
    width: 100vw;
    height: 10vw;
    background-image: linear-gradient(#002fa7, #000000);

}

#navigation img{
    
    /*
    dont know if this does anything:
    justify-self: left;
    */
    height: 10vw;
    width: auto; 
}

#navigation ul{
    width: 100%;
    display: flex;
    padding-left: 0;

    /*Does this align self do anything?
    And also the margin and padding?
    align-self: left;
    margin-left: 0;
    padding-left: 0;
    */
}


/*The font size needs a better solution!
it has to be a bit bigger, but still fit inside the menu
also in small screens*/
#navigation li{
    list-style-type: none;
    width: 100%;
    font-size: 3vw; 
    align-self: center;  
    display: flex;
    flex-flow: row, nowrap;
    justify-content: space-evenly;
    white-space: nowrap;     
}

#navigation a, #navigation a:visited{
    color: white;
    text-decoration: none;
    font-family: 'Garamond', Tahoma, serif;
        
}

#navigation a:hover{
    color: #9FDBFF;
 
}


