
body{
    padding: 0;
    margin: 0;

    /*font-family: ;*/
}


/*class parent for the whole page*/
.grid{
    display: grid;
    width: 100vw;

    /*adding size to columns, example px, %, fr.
     guess we dont need it
    since it is in grid-page
    grid-template-columns: ;

    */


    /*It doesnt make sense to me right now to add extra ccolums,
    do we need colums for big screen page?
    maybe we can add a sidebar with some extra info about the page,
    for example list up all the things the venue can be used for*/
    
    grid-template-areas: 
    "t"
    "b"
    "i"
    "f"
    /*can add extra columns here for example "f f f" etc*/
    ;
    /*could divide the footer in one part adress and a smaller part with 
    fireplace picture like "f f p"*/
    
    
    
}

.grid-page{

    /*Here we can probably add another solution
    for sizing the rows. probably header dont need the 
    same size as all the other parts*/
    grid-template-rows:  repeat(4, 2fr);
    grid-template-columns: 1fr;
    /*If we add more columns, use this instead:
    grid-template-columns: repeat(3, 1fr);
    */

    /*add spacing between colums and rows:

    grid-row-gap: ;
    grid-colum-gap: ;

*/
}

/*
start, end center, strech....
for horisontal adjustment between items inside the grid:
justify-items: ;

vertically:
align-items:;
*/

.topnav{

    grid-area: t;

    background-color: pink;

    padding-right: 10px;
    padding-left: 0;
}

.topnav-links{
    
} 

.topnav ul{

    display: flex;
    flex-flow: row, nowrap;
    justify-content: space-between;
    align-items: center;

    list-style-type: none;

    padding-left: 0;
}

.topnav a, .topnav a:visited{
    
    color: white;
    text-decoration: none;
    font-family: 'Garamond', Tahoma, serif;
        
}

.topnav a:hover{

    color: #9FDBFF;
}



.topnav img{
   
    height: 80px;
    width: auto;
    background-color: blue;

    /*dunno how to place the pic in the center of header,
    or is it some padding that has to change..
    or maybe it just needs a smarter sizing
    */
}

.background{

    grid-area: b;
   
    
}

.slogan{
    /*inside backgorund class*/
}

.background img{

}

.intro{

    grid-area: i;
}

.intro h1{

}

.intro img{


}
.intro p{

}

footer {

    grid-area: f;
}



