/* || SITEWIDE */
* {
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Times New Roman', Times, serif;
}

ul {
    list-style-type: none;
}

li{
    color: white;
}


p {
    color: white;
    line-height: 1.5em;
    font-size: 1.4rem;
}

h1,
h2 {
    text-align: center;
    color: white;
}


h3 {
    color: wheat;
}

h4 {
    color: white;
}

dt {
    color: wheat; /*Style for dishes on cafe page*/
    text-transform: uppercase;
    font-size: 1.2rem;
}

dd {
    color: white;
    font-size: larger;
    line-height: 1.5em; 
    text-align: center; 
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #9FDBFF;
}

.active {
    background-color: #2D3F4E;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* || NAV- Navigation Bar*/
nav {
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 10;
    background-color: black;
    font-family: 'Garamond', Tahoma, serif;
    font-size: 1.5em;
}

nav a{
    display: block;
}

nav ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

nav li {
    border-bottom: 1px solid white; 
    background-color: #000000;
    z-index: 3;
    text-align: left;
}


nav li:first-child {
    border: none;
    grid-area: 1 / 1 / 5 / 4;
    justify-self: start;
    z-index: 1;
    background-color: black;
}

nav li:hover{
    background-color: rgb(27, 27, 27);
}

nav img {
    padding: 4%;
    width: 250px; /*Fallback*/
    width: 9em;
    height: fit-content;
}


/* || FOOTER*/
footer {
    grid-area: footer;
    object-fit: contain;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    background-color: black;
    color: white;
    padding-bottom: 20px;
}

address {
    grid-area: 1 / 1;
    padding: 10%;
}

.credits {
    display: none;
}

.credit-link {
    grid-area: 2 / 1;
    padding-left: 10%;
}


/*Slideshow Gallery*/
.promoGallery {
    display: none;
}

.gallery-container {
    max-width: 100%;
    height: 600px;
}

.gallery-container img {
    height: 600px;
    object-fit: cover;

}

.fade {
    animation-name: fade;
    animation-duration: 2s;
}

@keyframes fade {
    from {
        opacity: .6
    }

    to {
        opacity: 1
    }
}


/* || INDEX*/
.index-background {
    display: grid;
    background-color: black;
    width: 100%;
    height: auto;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    padding-top: 100px;
    padding-bottom: 100px;
}

.slogan {
    grid-row: 1 / 3;
    grid-column: 1 / 4;
    z-index: 1;
}

.button {
    display: none;
 }
 
.fire {
    grid-row: 2 / 5;
    grid-column: 3 / 5;
}

.intro {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    background-image: linear-gradient(#000000, #2D3F4E);
    padding-top: 100px;
}

.intro img {
    grid-area: 2/2;
    object-fit: contain;

}

.intro h1 {
    grid-area: 1/2;

    white-space: nowrap;
    color: wheat;
    align-self: flex-end;
    font-size: 2em;
}

.intro p {
    grid-row: 3;
    grid-column: 1/4;
    text-align: center;
    font-size: larger;
    padding: 5px;
}

.index-images{
    border: 5px double white;
    background-color: #2D3F4E;
    display: flex;
}


/* || BOOKING
Grid Layout for Booking Page*/
.welcome {
    grid-area: content;
    text-align: center;
    background-color: #2D3F4E; /*fallback background */
    background-image: linear-gradient(#000000, #2D3F4E);
    padding: 20%;
}

.welcome-image {
    grid-area: image;
}

.location {
    grid-area: content1;
    text-align: center;
    background-color: #2D3F4E; /*fallback background*/
    background-image: linear-gradient(#000000, #2D3F4E);
    padding: 20%;
}

.location ul {
    text-align: left;
}

.location-image {
    grid-area: image1;
}


.booking {
    grid-area: booking;
    text-align: center;
    border: 5px solid #9FDBFF;
    background-color: #2D3F4E;
    padding: 10%;

}

.booking h1{
    font-size: 2.5rem;
}

.booking h2{
    font-size: 1.5rem;
}

.booking a {
    font-size: 0.9rem;
    color: #9FDBFF;
}

.booking-content {
    display: grid;
    justify-content: center;
    align-items: stretch;
    grid-template-areas:
        "... ... ..."
        "... content ..."
        "... image ..."
        "... content1 ..."
        "... image1 ..."
        "... booking ..."
        "footer footer footer";
    gap: 40px 0px;
}


/* || CAFE
Grid Layout for Cafe Page*/
.header-cafe {
    grid-area: header;
    background-color: #000000;
}

.welcome-cafe {
    grid-area: cafewelcome;
    padding: 10%;
    place-self: center stretch;
    background-color: #2D3F4E; /*fallback background */
    background-image: linear-gradient(black, #2D3F4E);
    border: 5px double white;
}

.welcome-cafe h1{
    font-size: 3rem;
}

.welcome-cafe a{
    text-decoration: underline;
    display: block;
}

.welcome-cafe img{
    border: 2px double white;
    float: right;
}

.default-menu {
    z-index: 4;
    border: 5px solid #9FDBFF;
    background-color: #2D3F4E;
    padding: 10%;
    border-radius: 4%;
    place-self: center stretch;
}

.default-menu h2{
    font-size: 2rem;
}

.bubble {
    background-size: cover;
    z-index: 1;
    border: 4px solid white;
    border-radius: 20%;
    text-align: center;
    place-self: start center;
    padding: 40%
}

.bubble h2 {
    font-size: 4em;
    text-shadow: 2px 2px #000000;
    background-color: #2d3f4eac;
    background-image: linear-gradient(rgba(0, 0, 0, 0.666), #2d3f4eaf, rgba(0, 0, 0, 0.666));
    padding: 20px;
    border-radius: 20%;
    border: 2px solid #9FDBFF;
}

.breakfast {
    grid-area: breakfast;
    background-color: #9FDBFF; /*Fall-back background*/
    background-image: url("Images/CafePromo/Breakfast.jpg");
    /*Source of image: https://pixabay.com/photos/croissants-jam-breakfast-knife-569075/*/
}

.breakfast-menu {
    grid-area: bmenu;
}

.lunch {
    grid-area: lunch;
    background-color: #9FDBFF; /*Fall-back background*/
    background-image: url("Images/CafePromo/Lunch.jpg");
    /*Source of image: https://pixabay.com/photos/place-setting-dinner-table-setting-2110245/*/
}

.lunch-menu {
    grid-area: lmenu;

}

.dinner {
    grid-area: dinner;
    background-color: #9FDBFF; /*Fall-back background*/
    background-image: url("Images/CafePromo/Dinner.jpg");
    /*Source of image: https://pixabay.com/photos/curry-food-dish-meal-cuisine-7249247/*/
}

.dinner-menu {
    grid-area: dmenu;

}

.dessert {
    grid-area: dessert;
    background-color: #9FDBFF; /*Fall-back background*/
    background-image: url("Images/CafePromo/Dessert.jpg");
    /*Source of image: https://pixabay.com/photos/chocolates-chocolate-confiserie-1737503/*/
}

.dessert-menu {
    grid-area: dsmenu;

}

.hours{
    grid-area: header;
    align-self: end;
}

.cafe-content_header {
    display: grid;
    overflow: hidden;
    grid-template:
        [row1-start] "header header header header"[row1-end]
        /auto auto auto auto;
}

.cafe-content {
    display: grid;
    overflow-x: hidden;
    row-gap: 100px;
    background-image: url("Images/CafePromo/Vegetabletop.jpg");
    grid-template-areas:
        "... ... ..."
        "cafewelcome cafewelcome cafewelcome"
        "breakfast breakfast breakfast"
        "bmenu bmenu bmenu"
        "lunch lunch lunch"
        "lmenu lmenu  lmenu"
        "dinner dinner dinner"
        "dmenu dmenu dmenu"
        "dessert dessert dessert"
        "dsmenu dsmenu dsmenu"
        "footer footer footer";
}

/* || ACCESSIBILITY*/

.access section img{
    border: 3px double white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.access h1{
    padding: 20px;
}

.access h2{
    padding: 10px;
}


/* || TOPICAL*/
.main {
    overflow-x: hidden;
}

.main section {
    padding: 3vw;
    padding-left: 10vw;
    padding-right: 10vw;
    background-image: linear-gradient(black, #2D3F4E, black);
    font-size: larger;
}

.main h2 {
    color: wheat;
    text-align: center;
}

.main h3 {
    color: wheat;
}

.main p {
    color: white;
    padding: 5px;
}

.main a {
    color: #9FDBFF;
    text-decoration: none;
}

.toplink{
    place-content: end;
    text-align: end;
}

.wine-picture {
    background-image: url("Images/Topical/wine.jpg");
    height: 70vw;
    width: 100vw;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#picture-1 {
    filter: sepia(100%)
}

#picture-2 {
    filter: invert(100%)
}

#picture-3 {
    filter:grayscale(100%)
}

#picture-4 {
    filter: saturate(400%);
}


/*Credit page*/
main {
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: linear-gradient(black, #2D3F4E, black); 
}

main ul {
    text-align: center;
    padding: 10px;
    line-height: 1.5em;
    color: white;
}


/* || Media Query for desktop*/
@media screen and (min-width: 700px) {

    nav ul {
        grid-template-rows: max-content;
        grid-template-columns: 7em repeat(4, 1fr);
    }

    nav li:first-child{
        grid-column-end: 1;
        z-index: 1;
        padding: 0px;
    }

    nav li:not(:first-child) a{
        padding-top: 30px;
        padding-bottom: 30px;
    }

    

    nav li{
        text-align: center;
        place-self: center stretch;
        padding: 0px;
        border-right: 1px solid white;
        border-bottom: none;
        white-space: nowrap;
        overflow:hidden;
    }

    

    nav li .active {
        background-color: #2D3F4E;
    }
 
    nav img {
        width: 7em;
    }

    .credits {
        display: block; /*Footer shows sources*/
        grid-area: 1 / 2;
        text-align: center;
        padding: 10%;
    }

    .credit-link {
        display: none;
       
    }

    .booking-content {
        grid-template:
            [row1-start] "... ... ... ..." 3% [row1-end]
            [row2-start] "... content image ..."[row2-end] 
            [row3-start] "... image1 content1 ..."[row3-end] 
            [row4-start] "... booking booking ..."[row4-end] 
            [row5-start] "footer footer footer footer"[row5-end] 
            / 5% 40% 50% 5%;

    }

    .booking h2{
        font-size: 2rem;
    }

    .booking a{
        font-size: 1.9rem;
    }

    /*Idea for design is small pamphlets on a table*/
    .cafe-content {
        grid-template:
            [row1-start] "... ... ... ..."[row1-end] 
            [row2-start] ". cafewelcome cafewelcome ." [row2-end] 
            [row3-start] "breakfast bmenu bmenu bmenu"  [row3-end] 
            [row4-start] "lmenu lmenu lmenu lunch" [row4-end] 
            [row5-start] "dinner dmenu dmenu dmenu" [row5-end] 
            [row6-start] "dsmenu dsmenu dsmenu dessert" [row6-end] 
            [row7-start] "footer footer footer footer"[row7-end] 
            /30% auto auto 30%;
    }

    .bubble h2{
        font-size: 3rem;
    }

    .hours{
        padding-bottom: 20px;
        align-self: end;
        justify-self: center;
        font-size: x-large;
    }

    /*Index*/
    .intro p {
        grid-column: 2/3;
    }

    .button {
        display: block;
        grid-row: 2/5;
        grid-column: 2;
        z-index: 1;
        align-self: center;
        white-space: nowrap;
    }
    
    .button a {
        font-family: Arial, Helvetica, sans-serif;
        border: 3px solid #9FDBFF;
        background-color: #2D3F4E;;
        text-align: center;
        padding: 10px;
        border-radius: 20px;
        font-size: 20px;
    }
    
    .button a:hover {
        border-width: 7px;
    }

    /*Topical*/
    .wine-picture {
        height: 30vw;
    }

}