body{
    /*background-image: linear-gradient( #002fa7, black);*/
    background-color: white;
    padding: 0;
    margin: 0;
    

}

h1, h2, h3{
 
}

p{
    
}

#navigation{
      background-color: yellowgreen;
    
}

#navigation img{
    width: 100vw;
    /*Licence free image from Pixabay, credit user_id:4701261.
    https://pixabay.com/no/illustrations/nordstjernen-stjerner-natt-2869817/ */
    background-image: url(/Images/north-star-2869817_1280.jpg);
    background-repeat: no-repeat;
    background-size: 100vw;
    
}


#header {
    
    position: sticky;
    display: flex;
    
    width: 100vw;
    height: 10vw;
    background-image: linear-gradient(#002fa7, black);

}

#header img{
    
    justify-self: left;
    height: 10vw;
    width: auto;    
    /*background-color: black;*/

}

#header ul{
    /*background-color: pink;*/
    width: 100%;
    display: flex;
    /*Does this align self do anything?
    And also the margin and padding?
    align-self: left;
    margin-left: 0;
    padding-left: 0;
    */
}

#header li{
    list-style-type: none;
    width: 100%;
    /*background-color: blue;*/
    font-size: 3.5vw; 
    align-self: center;  
    display: flex;
    flex-flow: row, nowrap;
    justify-content: space-evenly;
    white-space: nowrap;
    
        
}

#header a, #header a:visited{
    color: white;
    text-decoration: none;
    font-family: 'Garamond', Tahoma, serif;
        
    /*background-color: grey;*/
}

#header a:hover{
    background-image: url(/Images/ezgif.com-gif-maker.gif);
    background-size:cover;
    background-repeat: no-repeat;
    color: #9FDBFF
    
}


