/*
TO DO:
-add "back to top" link in every section
-get rid of the white padding or what it is around the sections
-style all text
-style link in sections
-style the section containers.
-sort pictures and add other
-make all pictures inherit isntead of repeating in every id
-make a new section with footer and credits
-in big screen its a bit too much pictue duration
-add colors and styling to match the graphic profile

why does the background pics ger margin in big screen

need to change the whole class strucutres
if the text sections should have margin
on the sides...
*/


body{
    /*background-image: linear-gradient( #002fa7, black);*/
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background-color: black;

}

#header{
    /*should get rid of the line between header and navigation
    so i can delete this color:
    just need to find it first
    could actually delete the whole paragraph here
    when i find it*/
      background-color: black;
      width: 100vw;
          
}

#header img{
    width: 100vw;
    height: 40vw;

    /*Licence free image from Pixabay, credit user_id:4701261.
    https://pixabay.com/no/illustrations/nordstjernen-stjerner-natt-2869817/ */
    background-image: url("Images/NorthStar.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}


#navigation {
    overflow-x: hidden;
    position: sticky;
    display: flex;
    width: 100vw;
    height: 11vw;
    background-color: black;
    /*background-image: linear-gradient(#002fa7, #000000);*/

}

#navigation img{
    height: 10vw;
    width: auto; 
}

#navigation ul{
    width: 100%;
    display: flex;
    padding-left: 0;
    padding-right: 20px;

}

#navigation li{
    list-style-type: none;
    width: 100%;
    font-size: 3vw; 
    align-self: center;  
    display: flex;
    flex-flow: row, nowrap;
    justify-content: space-evenly;
    white-space: nowrap;     

}

#navigation a, #navigation a:visited{
    color: white;
    text-decoration: none;
    font-family: 'Garamond', Tahoma, serif;
        
}

#navigation a:hover{
    color: #9FDBFF;

}

.main{
    
}

.main section{
    /* display: none; */

    background-image: linear-gradient( #2D3F4E, black);
}

.main h1{
    padding: 20px;
    color: white;
    
}

.main h2,.main h3{
   color:white;
   }



.main h4{
    color: white;
    text-decoration: underline;
    font-style: italic;
    font-size: 18px;
    
}

.main p{
   color: white; 
    
}

.main a, .main a:visited{
    color: red;
    text-decoration: none;
}

#picture{

/*maybe change height to 100vw if sections get big*/

    /*how can I make all the children arv dette:display:
    
    height: 50vw;
    width: 100vw;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    */

}

#picture-0{
    height: 50vw;
    width: 100vw;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(/Images/Promo/HotelRoom2.jpg);
}
    
#picture-1{
    height: 50vw;
    width: 100vw;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(/Images/CafePromo/Restaurant.jpg);
}

#picture-1{
    height: 50vw;
    width: 100vw;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(/Images/Promo/HotelRoom2.jpg);
}

#picture-2{
    height: 50vw;
    width: 100vw;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(/Images/CafePromo/Dessert.jpg);
}

#picture-3{
    height: 50vw;
    width: 100vw;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(/Images/Promo/Fjord1.jpg);
}

#picture-4{
    height: 50vw;
    width: 100vw;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(/Images/Promo/HotelRoom1.jpg);
}

#picture-5{
    height: 50vw;
    width: 100vw;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(/Images/Promo/HotelView1.jpg);
}

#picture-6{
    height: 50vw;
    width: 100vw;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(/Images/CafePromo/Dinner.jpg)
}

#picture-7{
    height: 50vw;
    width: 100vw;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(/Images/CafePromo/Lunch.jpg)
}